# nitkcaa.service

[Unit] 
Description= NITK Client Auth Agent Service

[Service] 
Type= simple 
ExecStart= /usr/bin/python /home/srinskit/Projects/nitkcaa/main.py

[Install]
WantedBy=multi-user.target